<!-- 31.12.2024 -->
<?xml version="1.0"  encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        
        <!-- Dependent Spring Bean Configuration -->
        <bean id="ltime"  class="java.time.LocalTime"  factory-method="now" />
        <bean id="ldate"  class="java.time.LocalDate"  factory-method="now" />
        
         <bean id="ltime1"  class="java.time.LocalTime"  factory-method="of" >
                 <constructor-arg value="11" />
                 <constructor-arg value="20" />
          </bean>
          
          <bean id="ldate1"  class="java.time.LocalDate"  factory-method="of" >
                 <constructor-arg value="2020" />
                 <constructor-arg value="10" />
                 <constructor-arg value="26" />
          </bean>
        <!-- Target Spring Bean Configuration -->
        <bean id="wmg"  class="com.nt.sbeans.WishMessageGenerator" >
               <property name="lt" ref="ltime"/>
               <property name="ld" ref="ldate"/>
                <constructor-arg name="lt" ref="ltime1" />
                 <constructor-arg name="ld" ref="ldate1" />
        </bean>
 </beans>