<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="prn1" class="com.nt.ston.Printer" factory-method="getInstance" lazy-init="true"/>
<bean id="prn2" class="com.nt.ston.Printer" factory-method="getInstance" lazy-init="true"/>
</beans>